@import "tailwindcss";

@tailwind utilities;

/* --- SMOOTH SCROLLING FIX --- */
html {
  /* 1. Makes the scroll animate instead of snap */
  scroll-behavior: smooth;

  /* 2. Offsets the scroll destination so the title isn't hidden behind your header */
  /* 80px is roughly the height of your header */
  scroll-padding-top: 100px;
}

body {
  background-color: #f5f7fa;
  font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
#data-table-input::-webkit-outer-spin-button,
#data-table-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#data-table-input {
  -moz-appearance: textfield;
}